body {
    font-family: 'Poppins', sans-serif;
    background: url('background.png') no-repeat; 
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
     
}

#state-info {
    background-color: transparent; 
    border-radius: 8px; 
    margin-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    max-width: 600px; 
    text-align: center; 
}

h1 {
    font-size: 2.5em;
    color: gold;
    margin-bottom: 10px; 
}
h2{
     
        font-size: 1.5em; 
        color: rgba(212, 125, 2, 0.9);
        line-height: 1.5; 
    
}

p {
    font-size: 1.2em; 
    color:yellowgreen;
    line-height: 1.5; 
}