body{
    background-color: black;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    font-size:15vh;
    margin: 2vh;
    padding: 2vh;
    height: 50vh;
    
    color: aliceblue;
}


.buttons button{
    background-color: #ecbd00;
    color: #eee;
    width: 25vw;
    padding: 3vh;
    margin: 2vh;
    border-radius: 10px;
    font-size: 4.5vh;
    border: none;
}

#home{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  #homebtn{
  
    width: 150px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    margin-right: 0;
    transition: .5s;
    position:fixed;
    top:40px;
    right:20px;
  }
  #homebtn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
  
  }