body{
    background-color: black;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    font-size:15vh;
    margin: 2vh;
    padding: 2vh;
    height: 50vh;
    
    color: aliceblue;
}


.buttons button{
    background-color: #ecbd00;
    color: #eee;
    width: 25vw;
    padding: 3vh;
    margin: 2vh;
    border-radius: 10px;
    font-size: 4.5vh;
    border: none;
}

#home {
  display: flex;
  justify-content: flex-start;
}

#homebtn {
  width: 80px;
  height: 80px;
  background: transparent;
  outline: none;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 40px;
  left: 20px; /* Move button to the leftmost position */
  padding: 0;
  margin-left: 20px; /* Add margin for spacing */
  transition: 0.3s;
}

#homebtn:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
  border-color: white;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

#logo {
  width: 100%; /* Make logo fit inside button */
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}