body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./home.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    color: white; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

#header {
    font-family: 'Poppins', sans-serif; 
    font-size: 50px; 
    color: white; 
    margin: 0;
}

.file-input, .btn {
    margin: 15px 0;
    padding: 10px 15px;
    font-size: 16px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#waveform{
    margin-left: 60px;
    margin-right: 60px;
}


.btn:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
}

#frequencyDisplay, #alertDisplay {
    font-size: 18px;
}


