
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white; 
}

.KalaVridhi {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    padding: 20px 100px;
    background: transparent; 
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 1000;
    transition: top 0.3s ease;
}


.KalaVridhi {
    font-size: 60px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    color: white; 
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 400;
}

.navbar a:hover {
    text-decoration: underline; 
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.content {
    font-size: 20px;
    color: white; 
    padding: 20px;
    margin:20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center; 
    margin-top: 80px;
    max-width:800px; 
}

.btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; 
}

.btn {
    width: 250px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    margin: 0 20px; 
    transition: 0.5s;
}

.btn:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

footer{
    text-align: center;
    padding: 3px;
    background:black;
    color: white;
    position: relative;
    bottom:0;
    width:100%;
}

.circle-img {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 40px; 
    display: inline-block; 
    vertical-align: middle; 
}

